// Colors
$primary: #003459;
$primary-dark: #002A48;
$secondary: #fceed5;
$secondary-dark: #F7DBA7;
$neutral-dark: #242b33;
$neutral: #00171f;
$neutral-light: #667479;
$blue-sea: #00a7e7;
$gray: #99A2A5;

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
